version: '3.8'

services:
  gateway:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: gateway-api
    ports:
      - "3030:3030"
    env_file:
      - .env
    environment:
      - NODE_ENV=production
    restart: unless-stopped